<form [formGroup]="datosContactoForm" (ngSubmit)="onSubmit()" (reset)="onReset()">
    <div class="container">
        <!--datos personales-->
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <span>Nombre:</span>
                    </div>
                    <div class="col-6">
                        <input  type="text" formControlName="nombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>Apellido:</span>
                    </div>
                    <div class="col-6">
                        <input  type="text" formControlName="apellido">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>Documentacion:</span>
                    </div>
                    <div class="col-6">
                        <input  type="text" formControlName="documentacion">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>Email:</span>
                    </div>
                    <div class="col-6">
                        <input  type="email" formControlName="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>Telefono:</span>
                    </div>
                    <div class="col-6">
                        <input  type="text" formControlName="telefono">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>Contraseña:</span>
                    </div>
                    <div class="col-6">
                        <input  type="password" formControlName="contraseña">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>Idioma:</span>
                    </div>
                    <div class="col-6">
                        <select formControlName="idioma">
                            <option value="es">Español</option>
                            <option value="zh">中文 (Chino)</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><span>Fecha de nacimiento:</span></div>
                    <div class="col-6">
                        <input  type="date" formControlName="fechaNacimiento">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>Nacionalidad:</span>
                    </div>
                    <div class="col-6">
                        <select formControlName="nacionalidad">
                            <option value="es">España</option>
                            <option value="zh">China</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <img src="assets/imgs/notas.PNG" alt="">
            </div>
        </div>
        <div class="row">
            <div class="button-insertar">
                <button class="btn btn-primary" type="submit">Guardar</button>
                
            </div>
        </div>
        
    </div>


</form>